html,body{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-family: Roboto;
    font-size: 3rem;
    text-align: center;
}
#letter-quality{
    color:red;
    font-family: Roboto;
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px;
    margin-top: 30vh;
}

.input-container input{
    width: 20vw;
    height: 7vh;
    font-size: 1rem;
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20vw 25vh 20vw;
    justify-content: center;
    align-items: center;
    display: none;
    margin-top: 30vh;
}

.box{
    width: 50px;
    height: 50px;
    background-color: skyblue;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    position: relative;
}

.boxes .error{
    background-color: rgb(255, 0, 0);
}

.box input{
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    text-align: center;
}

.box input:focus{
    cursor: text;
}

.box-cursor{
    cursor: pointer;
}

.boxes .add-box{
    background-color: rgb(203, 206, 208);
    color: white;
    font-weight: bold;
}

.delete-box{
    width: 15px;
    height: 15px;
    background-color: red;
    color: white;
    position: absolute;
    top:0;
    right: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    font-family: Roboto;
    border-radius: 0 0 0 5px;
    font-weight: 700;
    display: none;;
}

.box:hover .delete-box{
    display: flex;
}